body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.app_main li {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 45px;
padding: 7px;
}
.app_main li:hover{
background-color: #5dcfff;
color:#fff;
}
.app_main li:hover a{
color:#fff;
}
.img-area{
width: 40px;
height: 40px;
background: #c3c3c3;
}
.app_main li img {
    width: 40px;
}
.drop-head {
    width: 468px;
    padding: 5px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.orgnatzation-heading img {
    padding-right: 7px;
}
.drop-head h4 img {
    width: 50px;
margin-right: 10px;
}
.items-list span {
    font-weight: 600;
}
i.fa.fa-caret-down {
    color: #000;
}
.items-list {
    width: 450px;
    background: #f7f7fa;
    padding: 14px;
}
.drop-head {
    width: 468px;
    padding: 5px;
    background: #f7f7f7;
box-shadow: 0px 0px 7px 3px #f5f5f5;
height: 50px;
}
ul.app_main {
    padding-left: 17px;
}
.app_main li a {
    text-decoration: none;
    color: #606060;
    padding-left: 10px;
}
span.drpdn {
    -web-transition: all 5s ease;
    -moz-transition: all 2s. ease;
    transition: all 2s ease;
    float: right;
    top: 11px;
    padding-right: 10px;
      margin-top: -14px;
}
span.drpdn:before {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #606060;
    z-index: 999;
     width: 0;
    right: 25px;
}
.drop-head h4 {
    display: flex;
    align-items: center;
    margin:0;
}

.animate {
   opacity: 1;
   transition: opacity 500ms ease-in;
}
